{
  "parser": "@typescript-eslint/parser",
  "extends": ["airbnb-typescript/base", "prettier/@typescript-eslint", "plugin:prettier/recommended"],
  "rules": {
    "no-console": "off"
  },
  "env": {
    "node": true,
    "jest": true
  }
}
